---
import BaseHead from "../components/BaseHead.astro";
import Body from "../layouts/Body.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Guilherme Sehn" />
  </head>
  <Body>
    <main>
      <section>
        <ul class="flex flex-col gap-8">
          {
            posts.map((post) => (
              <li>
                <time class="text-sm text-gray-500 block mb-1">
                  <FormattedDate date={post.data.pubDate} />
                </time>
                <h4 class="mb-2 font-medium">
                  <a href={`/${post.slug}/`} class=" hover:underline">
                    {post.data.title}
                  </a>
                </h4>
                <p class="text-sm text-gray-700">{post.data.description}</p>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </Body>
</html>
