---
import Header from "../components/Header.astro";
import DarkMode from "../components/DarkMode.astro";
import DarkModeSwitch from "../components/DarkModeSwitch";
---

<body class="bg-stone-100 dark:bg-[#141236] dark:text-white pb-16">
  <DarkMode />
  <Header />

  <main class="container mx-auto max-w-xl px-8 md:px-0">
    <slot />
  </main>

  <div class="hidden md:block fixed bottom-4 right-4">
    <DarkModeSwitch client:only />
  </div>
</body>
